{# empty Twig template #}
{% include 'common/header.html.twig' %}
<div class="container">
    <div class="row">
        <div class="row mt100">
            {% if error %}
            <div class="col-lg-offset-2 col-lg-6 alert-danger">
                {{ error }}
            </div>
            {% endif %}
            <div class="col-lg-offset-2 col-lg-6">
                <form method="POST" action="{{ config.path}}/workform/do">
                  <input type="hidden" name="_csrf_token" value="{{ session.token()}}" />
                  <div class="form-group">
                    <label for="email">パラメータ１</label>
                    <input type="text" name="email" class="form-control" id="email" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="password">パラメータ２</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="">
                  </div>
                  <button type="submit" class="btn btn-default">ログイン</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% include 'common/footer.html.twig' %}