{# empty Twig template #}
{% include 'common/header.html.twig' %}
<div class="container">
    <div class="row">
        <div class="row mt100">
            <div class="col-lg-8 text-center">
                <a href="{{ config.path }}/logout" class="btn btn-success">ログアウト</a>
            </div>
            
        </div>
    </div>
</div>
{% include 'common/footer.html.twig' %}